@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ToDo1.Models.UserModel

@{
    ViewData["Title"] = "Register Account";
}

<div class="text-center">
    <h1 class="display-4">Register Accout</h1>
</div>


<form asp-action = "Register">
    <div asp-validation-summary = "ModelOnly" class = "text-danger"></div>
        <div class = "form-group">
            <label asp-for = "Fname" class = "control-label">First Name</label>
            <input type = "text" asp-for = "Fname" class = "form-control" />
            <span asp-validation-for = "Fname" class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label asp-for = "Lname" class = "control-label">Last Name</label>
            <input type = "text" asp-for = "Lname" class = "form-control" />
            <span asp-validation-for = "Lname" class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label asp-for = "Email" class = "control-label">Email</label>
            <input type = "email" asp-for = "Email" class = "form-control" />
            <span asp-validation-for = "Email" class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label asp-for = "Password" class = "control-label">Password</label>
            <input type = "password" asp-for = "Password" class = "form-control" />
            <span asp-validation-for = "Password" class = "text-danger"></span>
        </div>
        <div class = "form-group mt-4">
            <input type = "submit" value = "Add" class = "btn btn-primary w-100" />
        </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}