@model ToDo1.Models.TaskModel

@{
    ViewData["Title"] = "Add Task Page";
}

<div class="text-center">
    <h1 class="display-4">Add Task Page!</h1>
</div>


<form asp-action = "AddTask">
        <div class = "form-group">
            <label asp-for = "Description" class = "control-label">Description</label>
            <input asp-for = "Description" class = "form-control" />
        </div>
        <div class = "form-group">
            <label for = "DueDate" class = "control-label">Due Date</label>
            <input type = "date" asp-for = "DueDate" class = "form-control" />
        </div>
        <div class = "form-group mt-4">
            <input type = "submit" value = "AddTask" class = "btn btn-primary w-100" />
        </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}